appdirs==1.4.4
asgiref==3.2.10
astroid==2.3.3
boto3==1.14.53
botocore==1.17.53
certifi==2019.11.28
chardet==3.0.4
cycler==0.10.0
Cython==0.29.10
distlib==0.3.0
Django==3.1.1
django-crispy-forms==1.9.1
django-storages==1.10
docutils==0.15.2
ffpyplayer==4.3.0
filelock==3.0.12
idna==2.8
importlib-metadata==1.6.1
importlib-resources==2.0.0
isort==4.3.21
jmespath==0.10.0
joblib==0.14.1
Kivy==1.11.1
Kivy-Garden==0.1.4
kiwisolver==1.2.0
lazy-object-proxy==1.4.3
matplotlib==3.2.1
mccabe==0.6.1
mpi4py==3.0.3
numpy==1.18.4
pandas==1.0.3
Pillow==7.1.2
pipenv==2020.6.2
pygame==1.9.4.dev0
Pygments==2.5.2
pylint==2.4.4
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
requests==2.22.0
s3transfer==0.3.3
scikit-learn==0.22.2.post1
scipy==1.4.1
six==1.14.0
sqlparse==0.3.1
twitter==1.17.1
typed-ast==1.4.1
UNKNOWN==0.103.0
urllib3==1.25.8
virtualenv==20.0.23
virtualenv-clone==0.5.4
wrapt==1.11.2
zipp==3.1.0
